.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 800px;
    padding: 10px;
    background-color: #111;
    color: #fff;
  }
  
  .logoimg  {
    margin-top:30px;
    width: 100px;
  }


  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  nav li {
    cursor: pointer;
  }
  
  .fa-search {
    font-size: 18px;
  }
  