.hero {
    text-align: center;
    color: #fff;
    padding-top: 50px;
    margin-bottom: 270px;
  }
  
  .searchContain h1 {
    font-size: 48px;
    margin-bottom: 80px;
  }

  .searchContain p {
    margin-bottom: 30px;
  }

  .searchContain{
    margin-top: 70px;
  }
  

  