/* style.scss */

.two-containers {
  display: flex; /* Use flexbox to align containers side by side */
  justify-content: space-between; /* Space between containers */
  padding:0 100px;
  margin-bottom: 50px;

}

.container {
  width: 45%; /* Each container takes up 45% of the width */
  position: relative; /* Required for positioning dropdown menu */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease; /* Smooth transition for expanding */

  &.expanded .dropdown-content {
    display: block; /* Shows dropdown content when expanded */
  }

  .rating-value {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .comment-link {
    color: #060308;
    text-decoration: none;
    cursor: pointer;
    display: block;
    margin-bottom: 10px;
  }

  .comment-link:hover {
    text-decoration: underline;
  }

  .dropdown-content {
    display: none;
    max-height: 300px;
    overflow-y: auto;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 100%; /* Ensure dropdown content takes full width of container */
  }

  .dropdown-item {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

  .dropdown-item:last-child {
    border-bottom: none;
  }

  .profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .profile-info {
    flex: 1;
  }

  .profile-name {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    margin-left: 50px;
  }

  .profile-comment {
    margin: 0;
    color: #333;
    margin-left: 50px;
  }

  .load-more {
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    padding: 10px 0;
    display: block;
    border-top: 1px solid #ddd;
    margin-top: 10px;
  }

  .load-more:hover {
    text-decoration: underline;
  }
}

.left-container {
  background-color: #09ed33; /* Optional different color for left container */
  margin-right: 30px;
  flex: 1;
}

.right-container {
  background-color: #f72f2f; /* Optional different color for right container */
  flex: 1;
}
